apiVersion: batch.volcano.sh/v1alpha1
kind: Job
metadata:
  name: {{ name }}-{{ timestamp }}
spec:
  minAvailable: {{ mpirun.nnodes }}
  schedulerName: volcano
  plugins:
    mpi: ["--master=mpilauncher","--worker=mpiworker","--port=22"]
  tasks:
  - replicas: 1
    name: mpilauncher
    policies:
    - event: TaskCompleted
      action: CompleteJob
    template:
      spec:
        containers:
        - command:
          - /bin/bash
          - -c
          - |
            source /etc/profile
            module load mpi/hpcx
            mpirun --allow-run-as-root -mca coll_hcol_enable 1 -np {{ mpirun.nnodes * mpirun.ppn }} -npernode {{ mpirun.ppn }} -hostfile /etc/volcano/mpiworker.host -x LD_LIBRARY_PATH -x UCX_TLS=rc -report-bindings /opt/hpcx-v2.11-gcc-MLNX_OFED_LINUX-5-ubuntu20.04-cuda11-gdrcopy2-nccl2.11-x86_64/ompi/tests/imb/IMB-MPI1 Allreduce -npmin {{ mpirun.nnodes * mpirun.ppn }}
          image: {{ env['acr_name'] }}.azurecr.io/ubuntu2004-mofed-hpcx-openfoam:latest
          securityContext:
            capabilities:
              add: ["IPC_LOCK"]
            privileged: true
          name: mpilauncher
          workingDir: /home
        restartPolicy: OnFailure
  - replicas: {{ mpirun.nnodes }}
    name: mpiworker
    template:
      spec:
        containers:
        - command:
          - /bin/bash
          - -c
          - |
            mkdir -p /var/run/sshd
            /usr/sbin/sshd -D
          image: {{ env['acr_name'] }}.azurecr.io/ubuntu2004-mofed-hpcx-openfoam:latest
          name: mpiworker
          workingDir: /home
          securityContext:
            capabilities:
              add: ["IPC_LOCK"]
            privileged: true
          resources:
            requests:
              mellanox.com/shared_hca_rdma: 1
            limits:
              mellanox.com/shared_hca_rdma: 1
        restartPolicy: OnFailure